{% extends 'base.html.twig' %}

{% form_theme createForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
   Formulaire

{% endblock %}


{% block body %}
    <h2>Mon formulaire</h2>

    {{ form(createForm) }}

{% endblock %}