body {
    color: black;
    background-color: darkslategrey;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}
table{
    margin-top: 15vh;
    margin-left: 37vw;
    text-align: center;
}

header {
    background-color: darkslategrey;
    text-align: center;
}

footer {
    background-color: darkslategrey;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 30vh;
}

nav{
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
nav li {

    list-style-type: none;
    text-decoration: none;
    display: inline;

}
